{# base.html - The main template that others will inherit from #}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My Flask Site{% endblock %}</title>
    <!-- Tailwind CSS -->
    <script src="https://cdn.tailwindcss.com"></script>
    <!-- HTMX -->
    <script src="static/src/htmx.min.js"></script>
    <!-- Additional custom styles -->
    {% block extra_css %}{% endblock %}
</head>
<body class="flex flex-col min-h-screen">
    <header class="bg-white shadow-md">
        <div class="container mx-auto px-4 py-3">
            <div class="flex justify-between items-center">
                <div class="text-xl font-bold text-blue-600">
                    <a href="{{ url_for('index') }}">Board Wyrm</a>
                </div>
            </div>
        </div>
    </header>

    <main class="flex-grow ">
        <div class="container mx-auto px-4 py-6">
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        {% set alert_color = 'blue' %}
                        {% if category == 'success' %}
                            {% set alert_color = 'green' %}
                        {% elif category == 'error' %}
                            {% set alert_color = 'red' %}
                        {% elif category == 'warning' %}
                            {% set alert_color = 'yellow' %}
                        {% endif %}
                        <div class="bg-{{ alert_color }}-100 border border-{{ alert_color }}-200 text-{{ alert_color }}-700 px-4 py-3 rounded mb-4">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}

            <div class="bg-[url('/static/images/andrey-haimin-VFUTPASjhB8-unsplash-augmented-3.jpg')] bg-cover bg-fixed h-screen">
            {% block content %}
            {# Content will be inserted here #}
            {% endblock %}
            </div>
        </div>
    </main>

    <footer class="bg-gray-800 text-white mt-auto">
    </footer>

    {% block extra_js %}{% endblock %}
</body>
</html>
