{% extends "base.html.jinja" %}

{% block title %}Home{% endblock %}

{% block content %}
<form>
    <div class="bg-white shadow rounded-lg p-6">
        <div class="grid gap-5 mb-6">
            <label for="bgg_username">
                Enter your
                <a href="https://boardgamegeek.com/"
                    target="_blank"
                    class="text-blue-600 underline">
                    Board Game Geek
                </a>
                username
            </label>
            <input
            type="text"
            id="bgg_username"
            placeholder="username"
            required
            class="bg-gray-50 border border-gray-300 rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
            >
            </input>
        </div>
        <button
        type="submit"
        class="text-white bg-blue-600 hover:bg-blue-700 focus:ring-4 focus:outline-none font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center">
        Submit
        </button>
    </div>
</form>
{% endblock %}
