<!-- board_game_shelf.html -->
<style>
    .game-box {
        transition: transform 0.3s ease;
    }

    .game-box:hover {
        transform: translateY(-10px);
    }
</style>
<body class="bg-amber-50 min-h-screen p-8">
    <div class="max-w-6xl mx-auto">
        <h1 class="text-3xl font-bold text-center text-blue-600 mb-8">{{ username }}'s collection</h1>

        {% for shelf in game_shelves %}
        <div class="justify-center flex border-8 border-amber-800">
            {% for game_url in shelf %}
            <div class="game-box">
                <img src="{{ game_url }}" alt="Board game thumbnail" class="h-full w-full">
            </div>
            {% endfor %}
        </div>
        {% endfor %}
    </div>
</body>
</html>
